<a href="https://colab.research.google.com/github/freddyambia/Data-Science-I/blob/master/Examen2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
##Pregunta 1
df_datos01=pd.read_csv("TB_FALLECIDO_HOSP_VAC.csv",sep=",")
print("Se importó data y se asignó a df_datos01")

Se importó data y se asignó a df_datos01

In [5]:
##Conociendo la Data
df_datos01.head()

,id_persona,fecha_fallecimiento,edad,sexo,criterio_fallecido,ubigeo_cdc,dpt_cdc,prov_cdc,dist_cdc,cdc_positividad,...,fecha_ingreso_uci,fecha_ingreso_ucin,con_oxigeno,con_ventilacion,fecha_segumiento_hosp_ultimo,evolucion_hosp_ultimo,ubigeo_inei_domicilio,dep_domicilio,prov_domicilio,dist_domicilio
0,33779814,6/05/2021,48,F,Criterio SINADEF,150117,LIMA,LIMA,LOS OLIVOS,0,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS
1,5611276,30/12/2021,43,M,Criterio virolÃ³gico,150117,LIMA,LIMA,LOS OLIVOS,1,...,NaN,NaN,1,0,28/11/2021,referido,150117.0,LIMA,LIMA,LOS OLIVOS
2,3797139,13/05/2021,61,M,Criterio SINADEF,140120,LAMBAYEQUE,CHICLAYO,TUMAN,0,...,NaN,NaN,0,0,NaN,NaN,140120.0,LAMBAYEQUE,CHICLAYO,TUMAN
3,15290577,30/04/2021,74,M,Criterio serolÃ³gico,150120,LIMA,LIMA,MAGDALENA DEL MAR,0,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS
4,4385089,17/04/2021,54,F,Criterio virolÃ³gico,130105,LA LIBERTAD,TRUJILLO,LA ESPERANZA,0,...,NaN,NaN,0,0,NaN,NaN,130105.0,LA LIBERTAD,TRUJILLO,LA ESPERANZA

In [15]:
df_datos01.head()

,id_persona,fecha_fallecimiento,edad,sexo,criterio_fallecido,ubigeo_cdc,dpt_cdc,prov_cdc,dist_cdc,cdc_positividad,...,fecha_ingreso_uci,fecha_ingreso_ucin,con_oxigeno,con_ventilacion,fecha_segumiento_hosp_ultimo,evolucion_hosp_ultimo,ubigeo_inei_domicilio,dep_domicilio,prov_domicilio,dist_domicilio
0,33779814,6/05/2021,48,F,Criterio SINADEF,150117,LIMA,LIMA,LOS OLIVOS,0,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS
1,5611276,30/12/2021,43,M,Criterio virolÃ³gico,150117,LIMA,LIMA,LOS OLIVOS,1,...,NaN,NaN,1,0,28/11/2021,referido,150117.0,LIMA,LIMA,LOS OLIVOS
2,3797139,13/05/2021,61,M,Criterio SINADEF,140120,LAMBAYEQUE,CHICLAYO,TUMAN,0,...,NaN,NaN,0,0,NaN,NaN,140120.0,LAMBAYEQUE,CHICLAYO,TUMAN
3,15290577,30/04/2021,74,M,Criterio serolÃ³gico,150120,LIMA,LIMA,MAGDALENA DEL MAR,0,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS
4,4385089,17/04/2021,54,F,Criterio virolÃ³gico,130105,LA LIBERTAD,TRUJILLO,LA ESPERANZA,0,...,NaN,NaN,0,0,NaN,NaN,130105.0,LA LIBERTAD,TRUJILLO,LA ESPERANZA

In [20]:
##Tamaño total de datos
df_datos01.shape

(107768, 34)

In [21]:
##Tamaño total de datos
df_datos01.size

3664112

In [12]:
##Columnas con datos nulos:
df_datos01.info()
print("")
print("El número de datos es de 107768 como se indica en el reporte")
print("Las columnas con datos nulos son las que cuentan con ")
print("menos valores 'No nulos' en la tabla anterior")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107768 entries, 0 to 107767
Data columns (total 34 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_persona                    107768 non-null  int64
 1   fecha_fallecimiento           107768 non-null  object
 2   edad                          107768 non-null  int64
 3   sexo                          107767 non-null  object
 4   criterio_fallecido            107768 non-null  object
 5   ubigeo_cdc                    107768 non-null  int64
 6   dpt_cdc                       107768 non-null  object
 7   prov_cdc                      107768 non-null  object
 8   dist_cdc                      107768 non-null  object
 9   cdc_positividad               107768 non-null  int64
 10  flag_vacuna                   107768 non-null  int64
 11  fecha_dosis1                  9462 non-null    object
 12  fabricante_dosis1             9462 non-null    object
 13  fecha_dosis2                  4552 non-null    object
 14  fabricante_dosis2             4552 non-null    object
 15  fecha_dosis3                  221 non-null     object
 16  fabricante_dosis3             221 non-null     object
 17  flag_hospitalizado            107768 non-null  int64
 18  eess_renaes                   107768 non-null  int64
 19  eess_diresa                   21004 non-null   object
 20  eess_red                      21004 non-null   object
 21  eess_nombre                   21004 non-null   object
 22  fecha_ingreso_hosp            21004 non-null   object
 23  flag_uci                      107768 non-null  int64
 24  fecha_ingreso_uci             3245 non-null    object
 25  fecha_ingreso_ucin            1365 non-null    object
 26  con_oxigeno                   107768 non-null  int64
 27  con_ventilacion               107768 non-null  int64
 28  fecha_segumiento_hosp_ultimo  21004 non-null   object
 29  evolucion_hosp_ultimo         20897 non-null   object
 30  ubigeo_inei_domicilio         72222 non-null   float64
 31  dep_domicilio                 72222 non-null   object
 32  prov_domicilio                72222 non-null   object
 33  dist_domicilio                72222 non-null   object
dtypes: float64(1), int64(10), object(23)
memory usage: 28.0+ MB

El número de datos es de 107768 como se indica en el reporte
Las columnas con datos nulos son las que cuentan con
menos valores 'No nulos' en la tabla anterior

In [22]:
df_datos01.isnull()

,id_persona,fecha_fallecimiento,edad,sexo,criterio_fallecido,ubigeo_cdc,dpt_cdc,prov_cdc,dist_cdc,cdc_positividad,...,fecha_ingreso_uci,fecha_ingreso_ucin,con_oxigeno,con_ventilacion,fecha_segumiento_hosp_ultimo,evolucion_hosp_ultimo,ubigeo_inei_domicilio,dep_domicilio,prov_domicilio,dist_domicilio
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107763,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
107764,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
107765,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
107766,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
107767,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False

In [23]:
print(df_datos01.describe)

<bound method NDFrame.describe of         id_persona fecha_fallecimiento  edad sexo    criterio_fallecido  \
0         33779814           6/05/2021    48    F      Criterio SINADEF
1          5611276          30/12/2021    43    M  Criterio virolÃ³gico
2          3797139          13/05/2021    61    M      Criterio SINADEF
3         15290577          30/04/2021    74    M  Criterio serolÃ³gico
4          4385089          17/04/2021    54    F  Criterio virolÃ³gico
...            ...                 ...   ...  ...                   ...
107763     1591927          12/03/2021    55    F      Criterio SINADEF
107764     2537936           8/05/2021    89    F  Criterio virolÃ³gico
107765    13573531          24/04/2021    85    M      Criterio SINADEF
107766     3014961          13/03/2021    68    M  Criterio virolÃ³gico
107767    17007990          25/05/2021    30    F     Criterio clÃ­nico

        ubigeo_cdc      dpt_cdc          prov_cdc                dist_cdc  \
0           150117         LIMA              LIMA              LOS OLIVOS
1           150117         LIMA              LIMA              LOS OLIVOS
2           140120   LAMBAYEQUE          CHICLAYO                   TUMAN
3           150120         LIMA              LIMA       MAGDALENA DEL MAR
4           130105  LA LIBERTAD          TRUJILLO            LA ESPERANZA
...            ...          ...               ...                     ...
107763      150132         LIMA              LIMA  SAN JUAN DE LURIGANCHO
107764      130105  LA LIBERTAD          TRUJILLO            LA ESPERANZA
107765       20304       ANCASH  ANTONIO RAIMONDI                 CHINGAS
107766      150101         LIMA              LIMA                    LIMA
107767       70106       CALLAO            CALLAO              VENTANILLA

        cdc_positividad  ...  fecha_ingreso_uci fecha_ingreso_ucin  \
0                     0  ...                NaN                NaN
1                     1  ...                NaN                NaN
2                     0  ...                NaN                NaN
3                     0  ...                NaN                NaN
4                     0  ...                NaN                NaN
...                 ...  ...                ...                ...
107763                0  ...                NaN                NaN
107764                0  ...                NaN                NaN
107765                0  ...                NaN                NaN
107766                0  ...                NaN                NaN
107767                0  ...                NaN                NaN

       con_oxigeno con_ventilacion fecha_segumiento_hosp_ultimo  \
0                0               0                          NaN
1                1               0                   28/11/2021
2                0               0                          NaN
3                0               0                          NaN
4                0               0                          NaN
...            ...             ...                          ...
107763           1               0                   13/03/2021
107764           0               0                          NaN
107765           0               0                          NaN
107766           0               0                          NaN
107767           1               0                   25/05/2021

       evolucion_hosp_ultimo ubigeo_inei_domicilio  dep_domicilio  \
0                        NaN              150117.0           LIMA
1                   referido              150117.0           LIMA
2                        NaN              140120.0     LAMBAYEQUE
3                        NaN              150117.0           LIMA
4                        NaN              130105.0    LA LIBERTAD
...                      ...                   ...            ...
107763             defuncion              150132.0           LIMA
107764                   NaN              130101.0    LA LIBERTAD
107765                   NaN               20304.0         ANCASH
107766                   NaN              150115.0           LIMA
107767             defuncion               70106.0         CALLAO

          prov_domicilio          dist_domicilio
0                   LIMA              LOS OLIVOS
1                   LIMA              LOS OLIVOS
2               CHICLAYO                   TUMAN
3                   LIMA              LOS OLIVOS
4               TRUJILLO            LA ESPERANZA
...                  ...                     ...
107763              LIMA  SAN JUAN DE LURIGANCHO
107764          TRUJILLO                TRUJILLO
107765  ANTONIO RAYMONDI                 CHINGAS
107766              LIMA             LA VICTORIA
107767            CALLAO              VENTANILLA

[107768 rows x 34 columns]>

In [44]:
Edad=df_datos01['edad']
Edad

0         48
1         43
2         61
3         74
4         54
          ..
107763    55
107764    89
107765    85
107766    68
107767    30
Name: edad, Length: 107768, dtype: int64

In [45]:
Edad.max()

117

In [46]:
Edad.min()

0

In [73]:
df_limpi01=df_datos01[df_datos01['edad'] >15]

In [70]:
df_limpio01= df_limpi01[df_limpi01['edad'] <60]

In [74]:
df_limpio01.head()

,id_persona,fecha_fallecimiento,edad,sexo,criterio_fallecido,ubigeo_cdc,dpt_cdc,prov_cdc,dist_cdc,cdc_positividad,...,fecha_ingreso_uci,fecha_ingreso_ucin,con_oxigeno,con_ventilacion,fecha_segumiento_hosp_ultimo,evolucion_hosp_ultimo,ubigeo_inei_domicilio,dep_domicilio,prov_domicilio,dist_domicilio
0,33779814,6/05/2021,48,F,Criterio SINADEF,150117,LIMA,LIMA,LOS OLIVOS,0,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS
1,5611276,30/12/2021,43,M,Criterio virolÃ³gico,150117,LIMA,LIMA,LOS OLIVOS,1,...,NaN,NaN,1,0,28/11/2021,referido,150117.0,LIMA,LIMA,LOS OLIVOS
4,4385089,17/04/2021,54,F,Criterio virolÃ³gico,130105,LA LIBERTAD,TRUJILLO,LA ESPERANZA,0,...,NaN,NaN,0,0,NaN,NaN,130105.0,LA LIBERTAD,TRUJILLO,LA ESPERANZA
5,22424254,12/05/2021,40,M,Criterio virolÃ³gico,140201,LAMBAYEQUE,FERREÃAFE,FERREÃAFE,1,...,NaN,NaN,0,0,NaN,NaN,140201.0,LAMBAYEQUE,FERREÑAFE,FERREÑAFE
7,1718681,1/05/2021,52,M,Criterio virolÃ³gico,70101,CALLAO,CALLAO,CALLAO,1,...,NaN,NaN,0,0,NaN,NaN,150117.0,LIMA,LIMA,LOS OLIVOS

In [75]:
df_limpio01.shape()

TypeError: ignored